*.cer
.env
.ssh
.pem
shortcuts.md
*.ipynb
*.code-workspace
venv
logs
dags/__pycache__
dags/utils/__pycache__
dags/utils/core/__pycache__
dags/utils/core/fdic/__pycache__
dags/utils/core/ncua/__pycache__
dags/utils/core/helpers/__pycache__
sentence-transformer-models
*.pyc